.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 10px 20px;
}

.loginForm button {
    width: 100%;
} 

.loginForm .register {
    color: #1890FF;
}